.ant-select {
    width: 400px !important;
    margin-left: 400px !important;
}

.ant-space.custom-space {
    width: 600px !important;
    margin-left: 450px !important;
}

.ant-space-gap-row-small {
    row-gap: 0 !important;
}

.MuiBox-root.css-bw9856 {
    margin-left: -12px;
}