.custom-input-cart .MuiInputBase-root {
    width: 460px !important;
    margin-left: -60px !important;
}

.css-1jw5wkk-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #b360e6 !important;
}